<!--<div class="container"> 
    <div class="header">
        <h1><b> ABOUT US</b></h1> 
       </div> 
       <div class="panel-body"> <img src="../../assets/aboutme.jpg"class="img-responsive" 
        style="width:100%" alt="Image"></div>
       <h3><b> "The advantage is what we bring at your doorstep is only the most perfectly 
           awesome in clothes from different industries. We deliver numerous numbers of products from very famous brands in the clothing industry. The only thing you need to do is, pick your most loved brands, order and we will make them appear at your doorstep in the blink of an eye and bring you an ultimate online shopping
            experience for the customers who shop with us. Register and get more benefits and discounts."</b></h3><br>
       </div>
    -->
       <div class="solid">
  
        <div class="row"  >
          <div class="col-lg-3">
            <img src="../../assets/me.jpg" class="img-circle" id="center" alt="Cinque Terre" width="520" height="255"> 

              </div>
              <div class="col-lg-8" >
                <h3><b> "The advantage is what we bring at your doorstep is only the most perfectly 
                    awesome in clothes from different industries. We deliver numerous numbers of products from very famous brands in the clothing industry. 
                    The only thing you need to do is, pick your most loved brands, order and we will make them appear at your doorstep in the blink of an eye
                    and bring you an ultimate online shopping
                     experience for the customers who shop with us. Register and get more benefits and discounts." </b></h3>
            </div>
            </div>
            </div>


