
  
  <div class="row">
    <div class="col-lg-6" >
        <!--<div class="zoom" id= "center" >
      <button (click) = "show()"> 
        <img  [src]="imgsrc"> </button>  
    
      </div>-->
<div class="simple-gallery">
  <div class="zoom">
    <img class="maxi" [src]="imgsrc[0]">
  </div>

	<div class="mini"> 
    <img  [src]="imgsrc[0]">
    <img  [src]="imgsrc[1]"> 
    <img  [src]="imgsrc[2]">

	</div>

</div>




      
      <!-- Creates the bootstrap modal where the image will appear -->
      <div [style.display]="showModal ? 'block' : 'none'" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Image preview</h4>
          </div>
          <div class="modal-body">
          
            <img  [src]="imgsrc" id="imagepreview" style="width: 570px; height: 550px;" ></div>
      
       
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click) = "hide()">Close</button>
          </div>
        </div>
      </div>
      </div>
    </div>
   
    <div class="col-lg-6">
      <h1><b>{{name | mycase: 'upper' }}</b></h1>
      <h2>{{description}}</h2><hr>
      <del><h4 [ngStyle]="{'visibility':price<25?'line-through':'hidden'}">
        {{price | mycurrency:'CAD':'symbol'}}&nbsp;</h4></del>
      <h3><b>{{price |discount:5| mycurrency:'CAD':'symbol'}}</b></h3>
      <p><b>inclusive of all taxes</b></p><br/>
        <div class="form-group">
        <label for="sel1"><h4><b>Size:</b></h4></label>&nbsp;
      <select class="form-control-lg">
        <option>{{sizes[0]}}</option>
        <option>{{sizes[1]}}</option>
        <option>{{sizes[2]}}</option>
        <option>{{sizes[3]}}</option>
        <option>{{sizes[4]}}</option>
      </select>
      </div>
      <div>
        <a href="#demo" data-toggle="collapse"><h4>Size Chart</h4></a>
        <div id="demo" class="collapse">
          <table class="sizeChart" width="100%">
          <thead>
            <tr>
              <td>Men / Women</td>
              <td>Small</td>
              <td>Medium</td>
              <td>Large</td>
              <td>X-Large</td>
              <td>XX-Large</td>
            </tr>
          </thead>
          <tbody>
          <tr>
          <td>Neck</td>
          <td>14-14.5</td>
          <td>15-15.5</td>
          <td>16-16.5</td>
          <td>17-17.5</td>
          <td>18-18.5</td>
          </tr>
          <tr>
          <td>Chest</td>
          <td>35-37</td>
          <td>38-40</td>
          <td>41-43</td>
          <td>44-46</td>
          <td>47-49</td>  
          </tr>
          <tr>
          <td>Sleeve</td>
          <td>32-33</td>
          <td>33-34</td>
          <td>34-35</td>
          <td>35-36</td>
          <td>36-36.5</td>
          </tr>
          <tr>
          <td>Waist</td>
          <td>29-31</td>
          <td>32-34</td>
          <td>35-37</td>
          <td>38-40</td>
          <td>41-43</td>
          </tr>
          </tbody>
          </table>
        </div>
      </div><br/>
      

      <button a (click)="changeWishlistMessage()" (click)= "addToWish()" class="btn btn-danger">
        <span class="glyphicon glyphicon-heart">&nbsp;ADD TO WISHLIST</span></button>&nbsp;

      <button (click)= "addToCart()" (click)="sendNumber()" (click)=" addToRecent()"class="btn btn-success">
         <span class="glyphicon glyphicon-shopping-cart">&nbsp; ADD TO CART </span> </button>&nbsp;

         
      <b style="color: green;">{{ successMessage }}</b><hr>
        <h4 class="small-text"><span>Standard delivery:</span> 2-5 working days.</h4>
        <h4 class="small-text"><span>Next day delivery:</span> order before 2pm ($5.79).</h4>
        <h4 class="small-text"><span>Free shipping over $60.</span></h4>
        <h4 class="small-text"><span>Free Exchanges & Easy Returns.</span></h4> <hr>
        <h3><B>PRODUCT DETAILS:</B></h3>
      <h3>{{details}}</h3>
      <hr>
      <button class=" btn btn-danger" (click)="onBack()" >Previous Page </button>
    
    </div>
  </div>
<br>



<!--
<div class="container">
  <div class="row">
      <div class="col-lg-6">
        <img  [src]="imgsrc"/>
      </div>
   </div>
  
    
      <div class="col-lg-6">
        <h1>{{name}}</h1>
        <p class="price">$95.99</p>
        <p class="description">{{description}}</p>
      </div>
            <button><span class="glyphicon glyphicon-heart">ADD TO WISHLIST</span></button>
            <button> <span class="glyphicon glyphicon-shopping-cart">ADD TO BAG </span> </button>
        <p class="small-text"><span>Standard delivery</span> 2-5 working days</p>
        <p class="small-text"><span>Next day delivery</span> order before 2pm ($5.79)</p> 
  </div>

-->